.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#navntest {
    /*margin-top: 5px;*/
    font-size: 500%;
}

#tekstunder {
    text-align: center;
    font-size: 150%;
}

#informasjon-midten {
    text-align: center;
    animation: fadein 1.2s;/*1.5s;*/
    margin-top: 10%;
}

#informasjon-midten img:hover {
    -webkit-filter:grayscale(0%);
}

@keyframes fadein {
    from {opacity: 0; margin-top: 5%;}
    to {opacity: 1; margin-top: 10%;}
}

#leisykkel-knapp {
    position: relative;
    font-size: 150%;
    background-color: #4797d9;
    color: white;
    border: 2px solid #4797d9;
    padding: 10px 12px 10px 12px;
}

#leisykkel-knapp:hover {
    background-color: #5bacd9;
    border: 2px solid #5bacd9;
}

@media screen and (max-width: 1366px) {
    #bear-bike {
        height: 250px;
    }
}