.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#navntest {
    margin-top: 5px;
    text-align: center;
    font-size: 500%;
}

#tekstunder {
    text-align: center;
    font-size: 150%;
}

#bear-img {
    /*margin-left: 38%;*/
    text-align: center;
    margin-bottom: 0;
}