body, head {
  margin: 0;
  padding: 0;
}

.boksMidten {
  width: 350px;
  height: 400px;
  padding: 20px;
  /*margin: 20px;*/

  border: 2px solid #a1a1a1;/*#939393; på begge, men blir mørkere*/
  border-radius: 15px;
  /*background: lightgray;*/
  margin: auto;
  margin-top: 15%;
}

.boksMidten #title {
  font-family: 'Open Sans', sans-serif;
  font-size: 200%;
  color: #a1a1a1;
  text-align: center;
  margin-top: 15%;
}

#information {
  margin-top: 20%;
  font-size: 55%;
}

#inputs {
  text-align: center;
  margin-top: 5%;
}

#inputs input {
  width: 75%;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  padding: 3px;
  font-family: 'Open Sans', sans-serif;
  color: #a1a1a1;
  margin: 10px;
}

#loginButton {
  background: #a1a1a1;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  margin-right: 12%;
  float: right;
  /*cursor: pointer;*/
}

#loginButton:hover {
  background: #b8b8b8;
  border: 2px solid #b8b8b8;
  color: white;
  transition: ease-in-out 0.2s;
}




/*EN annen her*/
.container {
  width: 800px;
}

.inniBoksen {
  text-align: center;
  width: 65%;

  margin-bottom: 10%;
}

.innhold {
  text-align: center;
}

.rentbike {
  position: relative;
  width: 235px;
  height: 125px;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  float: left;
  cursor: pointer;
}

.rentbike:hover {
  border: 2px solid gray;
  transition: ease-in-out 0.2s;
}

.rentbike:hover .reservasjonButton {
  color: white;
  background-color: gray;
}

.idBoks {
  float: right;
  /*margin-top: 5px;*/
  margin-right: 5px;
}

.bikeTest {
  padding-top: 4px;
  padding-left: 4px;
}

.bikeIcon {
  font-size: 350%;
}

.batteryIcon {
  font-size: 150%;
}

.bikeBoks {
  /*margin-left: 10%;
  text-align: center;*/
  position: absolute;
  top: 20px;
  left: 50px;
}

.tekstBoks {
  float: left;

}

.progress-boks {
  margin: 5px;
  width: 50%;
  position: relative;
}

.batteryBar {
  position: absolute;

  color: black;
  /*margin: 5px;
  width: 40%;*/
  /*height: 10px;*/
  /*width: 70%;*/
  height: 100%;
}

.progressbar-text {
  position: absolute;
  width: 100%;
  text-align: center;
}

.reservasjonButton {
  /*font-family: 'Hind', sans-serif;
  font-size: 150%;
  position: absolute;
  width: 100%;
  top: 70%;
  height: 37px;
  background: lightgray;
  text-align: center;
  border-radius: 0px 0px 2px 2px;*/

  font-family: 'Hind', sans-serif;
  font-size: 150%;
  position: absolute;
  bottom: 0;
  width: 100%;
  /*top: 70%;*/
  height: 37px;
  background: lightgray;
  text-align: center;
  border-radius: 0px 0px 2px 2px;
}

/*.reservasjonButton:hover {
  background: gray;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  color: white;
}*/

.button-text {
  margin-top: 2%;
}

.halla {
  width:43px;
  height:43px;
  fill: black;
  margin-left: 4px;
}

#ingen-sykler {
  font-size: 200%;
  display: none;
  /*opacity: 0;*/
}

#mørkbakgrunn {
  background: rgba(0, 0, 0, 0.5);


  position: fixed;

  visibility: hidden;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: ease-in-out 0.3s;
}

#mørkbakgrunn:target {
  visibility: visible;
  opacity: 1;
}

#meldingsboks {

  color: cadetblue;
  background: white;
  top: 25%;
  margin: auto;
  position: relative;
  padding: 50px;

  border-radius: 5px;
}

@media screen and (min-width: 200px) {
  #meldingsboks {
    width: 40%;
  }
}

@media screen and (min-width: 750px) {
  #meldingsboks {
    width: 30%;
  }
}

@media screen and (min-width: 1600px) {
  #meldingsboks {
    width: 20%;
  }
}

#informasjon-res {
  font-size: 175%;
  margin-top: 15px;
  margin-bottom: 10%;
  text-align: center;
}



#kryssboks {
  text-decoration: none;
  font-size: 175%;
  position: absolute;
  top: 7px;
  right: 20px;
  cursor: pointer;
}

.button-melding {
  text-align: center;
  margin: 20px;
  float: left;
  cursor: pointer;
  width: 40%;
  padding: 5px;
  bottom: 0;
  position: absolute;
  border: 2px solid white;
}

.button-melding:hover {
  border: 2px solid lightgray;
  border-radius: 5px;
}

#buttonja {
  left: 0px;
}

#buttonnei {
  right: 0px;
}

/*#buttonja {
  text-align: center;
  width: 175px;

  left: 10%;
  bottom: 15px;
  position: absolute;
  cursor: pointer;
}

#buttonja:hover {
  background: blue;
}

#buttonnei {
  text-align: center;
  width: 175px;

  left: 50%;
  bottom: 15px;
  position: absolute;
  cursor: pointer;
}

#buttonnei:hover {
  background: blue;
}*/