.modal-dialog {
    margin-top: 10%;
}

@media screen and (min-width: 0px) {
    .modal-dialog {
        width: 40%;
    }
}

@media screen and (min-width: 1000px) {
    .modal-dialog {
        width: 30%;
    }
}

@media screen and (min-width: 1500px) {
    .modal-dialog {
        width: 20%;
    }
}
/* TODO:få dette til å virke?? */
#reg-overlay {
    animation: fadeIn 2s;
    margin-top: 10%;
}
@keyframes fadein {
    from {margin-top: 20%;}
    to {margin-top: 10%;}
}